
# SIM76XX AT device configuration
menuconfig AT_DEVICE_USING_SIM7600CE
    bool "SIMCom SIM7600CE"
    default n

if AT_DEVICE_USING_SIM7600CE

    config AT_DEVICE_SIM7600CE_INIT_ASYN
        bool "Enable initialize by thread"
        default n

    config AT_DEVICE_SIM7600CE_SOCKET
        bool "Enable SIM7600CE at socket"
        select AT_USING_SOCKET
        default y

    config AT_DEVICE_SIM7600CE_SAMPLE
        bool "Enable sample"
        default y

    if AT_DEVICE_SIM7600CE_SAMPLE

        config SIM7600CE_SAMPLE_POWER_PIN
            int "Power pin"
            default -1

        config SIM7600CE_SAMPLE_STATUS_PIN
            int "Power status pin"
            default -1

        config SIM7600CE_SAMPLE_CLIENT_NAME
            string "AT client device name"
            default "uart2"

        config SIM7600CE_SAMPLE_RECV_BUFF_LEN
            int "The maximum length of receive line buffer"
            default 512

    endif

endif
